<div class="bg-black flex flex-col items-center justify-center">
    <div class="text-center">
      <p class="text-gray-200 text-5xl mt-0.5">
        <span class="font-bold">GAME</span>
        <span class="font-serif">RANT </span>
      </p>
      <br>
    <div class="text-center mt-8"> <!-- Aumento dello spazio tra le due righe -->
      <p class="text-gray-200 text-xl">
        <span class="inline-block">Join Our Content Team</span>
        <span class="inline-block ml-10">Home</span>
        <span class="inline-block ml-10">Contact Us</span>
        <span class="inline-block ml-10">Terms</span>
        <span class="inline-block ml-10">Privacy</span>
        <span class="inline-block ml-10">Copyright</span>
        <span class="inline-block ml-10">About Us</span>
        <span class="inline-block ml-10">Advertise with us</span>
        <span class="inline-block ml-10">Press Kit</span>
    </p>
  <br><br>
    </div>
    <div class="text-center mt-7 ml-7">
    <p class="text-gray-200 text-xl">
      <span class="inline-block">Corrections Policy
      </span>
      <span class="inline-block ml-10">Fact Checking Policy</span>
      <span class="inline-block ml-10">Ethics Policy</span>
      <span class="inline-block ml-10">Ownership Policy</span>
      <span class="inline-block ml-10">Odyssey Group</span>
      <span class="inline-block ml-10">Owned & Operated by Valnet Inc.</span>
  </p>
  </div> 
      <br> <br> <br>
      <p class="text-gray-200 text-xl">Copyright © 2024 gamerant.com</p>
      <br>
    </div>
  </div>
  
  