@if (images && images.length > 0) {

<div
  id="carousel-container"
  class="relative m-auto text-center w-2/3 rounded-lg shadow-2xl"
>
  @for(image of images; track image.src; let i = $index){
  <img
    [src]="image.src"
    [alt]="image.alt"
    [ngClass]="{ 'image-active': selectedIndex === i }"
    class="hidden rounded-lg fade"
  />
  } @if(controls){
  <div
    id="controls-container"
    class="absolute top-0 bottom-0 left-0 right-0 flex justify-between items-center px-3"
  >
    <!-- Freccia sinistra -->
    <i 
      class="fas fa-chevron-left text-white text-3xl cursor-pointer"
      (click)="onPrevClick()"
      ></i>

    <!-- Freccia Destra -->
    <i 
      class="fas fa-chevron-right text-white text-3xl cursor-pointer"
      (click)="onNextClick()"
      ></i>
  </div>
  } @if(indicators){
  <div
    id="indicators"
    class="absolute right-0 left-0 bottom-1 flex justify-center p-0 mb-3"
  >
    @for(dot of images; track dot.src; let i = $index){
    <span
      id="dot"
      [ngClass]="{ active: selectedIndex === i }"
      class="cursor-pointer h-3 w-3 my-0 mx-2 bg-slate-50 rounded-full inline-block opacity-50 hover:opacity-100 duration-100"
      (click)="selectImage(i)"
    ></span>
    }
  </div>

  }
</div>
}
