<section id="hero">
  <div class="flex flex-col items-center justify-center p-7">
    <h1 class="text-7xl font-bold tracking-tighter px-11">
      Silent Hill 2 and Every Rumored Game For PlayStation's May Event Explained
    </h1>

    <p class="text-2xl tracking-tighter px-11 pt-3 text-slate-700 self-start">
      PlayStation is rumored to be having an event in May to showcase upcoming
      games, including Silent Hill 2 along with a few other potential titles.
    </p>

    <p class="text-lg tracking-tighter px-11 text-slate-900 self-start mt-4">
      BY <strong>DREW SWANSON</strong> PUBLISHED APR 6, 2024
    </p>
  </div>

  <div class="flex justify-center items-center py-4">
    <img src="assets/blu.avif" class="w-4/6" />
  </div>
</section>

<section id="carosello">

  <app-carosello [images]="images"></app-carosello>
  
</section>
